@charset "UTF-8";
.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* палітра кольлорів */
:root {
  --brand-color: #2196F3;
  --background-overlay: rgba(33, 150, 243, 0.9);
  --main-text-color: #757575;
  --primary-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  --logo-text-color: #000000;
  --button-text-focus: #188CE8;
  --icons-color: #AFB1B8;
  --color-info: rgba(255, 255, 255, 0.6);
  --backrground-comand: #F5F4FA;
  --backrground-secondary: #2F303A;
  --primery-font: Roboto, san-serif;
  --secondary-font: Raleway, san-serif;
  --border-background: #ECECEC;
  --border-photo: #EEEEEE;
  --color-gradient: rgba(47, 48, 58, 0.4);
  --idx-header: 100;
  --idx-backdroup: 1000;
  --trnz-duration: 250ms;
  --trnz-tim-fnct: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  font-family: var(--primery-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.footer-addres {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  min-width: 216px;
  margin-top: 30px;
  border: none;
  padding: 10px 32px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  background-color: var(--brand-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-text-focus);
}

/* buttons-potfolio */
.buttons-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-portfolio {
  border: none;
  margin-right: 8px;
}

.button-portfolio:nth-child(5n) {
  margin-right: 0;
}

/* button-filtr */
.button-filtr {
  padding: 6px 22px;
  background-color: var(--backrground-comand);
  color: var(--primary-text-color);
  cursor: pointer;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  border-radius: 4px;
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-filtr:hover {
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-filtr:focus {
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-footer-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  width: 200px;
  gap: 10px;
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}
.button-footer-form:active {
  background-color: var(--brand-color);
}
.button-footer-form:hover, .button-footer-form:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-text-focus);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--icons-color);
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.close-button:hover, .close-button:focus {
  fill: var(--brand-color);
}

.close-button-icon {
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}
.close-button-icon:hover, .close-button-icon:focus {
  color: var(--brand-color);
}

.button-form-modal {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 16px 52px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}
.button-form-modal:hover, .button-form-modal:focus {
  color: var(--secondary-text-color);
  background-color: var(--button-text-focus);
}

/* LOGO */
.header__logo {
  color: var(--brand-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__label {
  color: var(--logo-text-color);
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  color: var(--brand-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studiof {
  color: var(--secondary-text-color);
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border-background);
}

/* header-container ставимо навігацію в ряд */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts .header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contacts__title:hover, .header-contacts__title:focus {
  color: var(--brand-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* section-hero */
.hero {
  max-width: 1600px;
  height: 600px;
  background-color: var(--backrground-secondary);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-gradient)), to(var(--color-gradient))), url(../images/background-img.jpg);
  background-image: linear-gradient(to right, var(--color-gradient), var(--color-gradient)), url(../images/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* навігація хедера */
.header__nav {
  margin-left: 93px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link:not(:last-child) {
  margin-right: 50px;
}

.nav__link .link {
  display: block;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: var(--primery-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}

.nav__list .link.current,
.nav__list .link:hover,
.nav__list .link:focus {
  color: var(--brand-color);
}

.nav__list .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  background-color: var(--brand-color);
  border-radius: 2px;
}

/* form-footer */
.form-footer {
  margin-left: auto;
}

.form-footer-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.form-footer-email {
  margin-top: 20px;
}

.footer-form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 358px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 0;
  padding-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}
.input-footer:active {
  background-color: var(--backrground-secondary);
}
.input-footer:hover, .input-footer:focus {
  color: var(--main-text-color);
  border-color: var(--icons-color);
}

.input-footer::-webkit-input-placeholder {
  color: var(--main-text-color);
}

.input-footer::-moz-placeholder {
  color: var(--main-text-color);
}

.input-footer:-ms-input-placeholder {
  color: var(--main-text-color);
}

.input-footer::-ms-input-placeholder {
  color: var(--main-text-color);
}

.input-footer::placeholder {
  color: var(--main-text-color);
}

.footer-form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.sabmit-footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.sabmit-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

/* modal-form */
.strong-modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
}

.form-group-modal {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  color: var(--logo-text-color);
}
.form-field:focus-within, .form-field:hover, .form-field:active {
  color: var(--brand-color);
}

.form-field-last {
  margin-bottom: 0;
}

.span-label-modal {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  text-transform: capitalize;
}

.form-input-modal {
  width: 100%;
  height: 40px;
  margin-bottom: 0;
  padding: 0 40px;
  font: inherit;
  font-size: 16px;
  line-height: 1.71;
  color: var(--logo-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, transform;
  transition-property: border-color, color, transform, -webkit-transform;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}
.form-input-modal:focus-within, .form-input-modal:hover, .form-input-modal:active {
  border: 1px solid var(--brand-color);
  outline: none;
  color: var(--logo-text-color);
}

.form-icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}

.form-icon-modal:focus-within > input,
.form-icon-modal:hover > input,
.form-icon-modal:active {
  color: var(--brand-color);
}

.form-message {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, transform;
  transition-property: border-color, color, transform, -webkit-transform;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  caret-color: var(--logo-text-color);
}
.form-message:focus-within, .form-message:hover, .form-message:active {
  border: 1px solid var(--brand-color);
  outline: none;
}

/* form-checkbox */
.form-agreement {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 28px;
  height: 24px;
}

.form-checkbox {
  /* appearance: none; */
  position: absolute;
  display: inline-block;
  cursor: pointer;
  background-image: url(../images/icon\ check.svg);
  margin-bottom: 30px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  top: 50%;
  left: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}

.form-checkbox:checked {
  background-color: var(--brand-color);
  color: var(--secondary-text-color);
  outline: transparent;
}

.form-agreement-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  line-height: 1.71;
  padding-left: 23px;
}

.form-chechbox-icon .unchecked {
  opacity: 1;
}

.form-chechbox:checked + .form-chechbox-icon .unchecked {
  opacity: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}

.form-chechbox-icon .checked {
  opacity: 0;
}

.form-chechbox:checked + .form-chechbox-icon .checked {
  opacity: 1;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}

.form-agreement-link {
  color: var(--brand-color);
}

/* modal-window  */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--idx-backdroup);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -65%) scale(0.1);
          transform: translate(-50%, -65%) scale(0.1);
}

.main-portfolio {
  padding: 94px 0;
}

.photo-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtr-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.filtr-item:nth-child(3n) {
  margin-right: 0;
}

.filtr-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition-property: border, -webkit-box-shadow;
  transition-property: border, -webkit-box-shadow;
  transition-property: border, box-shadow;
  transition-property: border, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
}
.portfolio-link:hover {
  border: 1px solid color var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:focus {
  border: 1px solid color var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-stule {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--border-photo);
  border-top: none;
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title-filtr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay);
}

.portfolio-overlay-text {
  padding: 0 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.features {
  padding: 94px 0;
}

.our-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-features__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--primary-text-color);
}

.our-features__item {
  width: 270px;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  margin-right: 30px;
}

.our-features__item:last-child {
  margin-right: 0;
}

/* icon-features(наші особливості svg) */
.icon-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--backrground-comand);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.our-features__item:first-child {
  margin-left: 0;
}

.icon-features__text {
  font-weight: 400;
  line-height: 1.71;
}

.servis {
  padding-bottom: 94px;
}

.service__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.service__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servis__item {
  width: 370px;
  margin-right: 30px;
  width: 100%;
}

.servis__item:nth-child(3n) {
  margin-right: 0;
}

.service__title,
.comand__title,
.clients__title {
  font-style: normal;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.servis__wrapper {
  position: relative;
}

.servis__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.comand {
  background-color: var(--backrground-comand);
  padding: 94px 0;
}

.comand__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comand__img {
  margin-right: 30px;
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.comand__img:nth-child(4n) {
  margin-right: 0;
}

.comand__title {
  margin-bottom: 50px;
}

.comand__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand__name {
  margin-bottom: 10px;
  font-style: normal;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.comand__position {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* стилі для лінків соцмереж */
.comand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.comand__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}
.comand__link:hover, .comand__link:focus {
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
}

.comand__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icons-color);
}
.clients__link:hover, .clients__link:focus {
  color: var(--brand-color);
}

.clients__icon {
  fill: currentColor;
}

/* footer */
.footer {
  background-color: var(--backrground-secondary);
  padding: 60px 0;
}

.footer-adress {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.title-adress {
  text-decoration: none;
  color: var(--secondary-text-color);
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
}

.title-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.title-contact:hover, .title-contact:focus {
  color: var(--brand-color);
}

.footer-item > .title-contact {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--trnz-duration);
          transition-duration: var(--trnz-duration);
  -webkit-transition-timing-function: var(--trnz-tim-fnct);
          transition-timing-function: var(--trnz-tim-fnct);
  width: 44px;
  height: 44px;
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-links-footer:hover, .social-links-footer:focus {
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
}

.social-icon-footer {
  fill: currentColor;
}

.footer-contacts {
  margin-right: 70px;
}/*# sourceMappingURL=main.css.map */