/* LOGO */

.header__logo {
    color: var(--brand-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__label {
    color: var(--logo-text-color);
}

.logo-footer {display: flex;
    
    margin-bottom: 20px;
    color: var(--brand-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
line-height: 1.16;
    @media screen and(min-width:768px){font-size: 26px;
        line-height: 1.19;

    }
    @media screen and (max-width:1199px){
        display: flex;
        justify-content: center;
       
    }
}

.logo-studiof {

    color: var(--secondary-text-color);
}
