/* LOGO */

.header__logo {
    color: var(--brand-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__label {
    color: var(--logo-text-color);
}

.logo-footer {display: flex;
    margin-bottom: 20px;
    color: var(--brand-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-studiof {

    color: var(--secondary-text-color);
}
