 .features {
     padding: 60px 0;
     @media screen and (min-width: $tablet) {padding: 94px 0;
       }

 }

 .our-features {
    @media screen and (min-width: $tablet){display: flex;
        flex-wrap: wrap;
     width: 738px;
     gap: 30px;
   }

     @media screen and (min-width: $desctop) {display: flex;
    width: 1170px;
    gap: 30px;
}
    

}

.icon-features__title {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: var(--primary-text-color);

    @media screen and (min-width: $tablet){display: block;}

}

.our-features__item { 
    margin-top: 30px;
 
}

.our-features__item:last-child {
    margin-right: 0;
}

/* icon-features(наші особливості svg) */
.icon-features {
     display: flex;
     justify-content: center;
     align-items: center;
    background-color: var(--backrground-comand);
   
    margin-bottom: 30px;
    height: 120px;
        
    @media screen and (min-width: $tablet){ 
       
        width: 354px;
        
        margin-bottom: 30px;}

    @media screen and (min-width: $desctop){ 
        
        width: 270px;
       
       }
    
}

.our-features__item:first-child {
    margin-left: 0;
}

.icon-features__text {
    font-weight: 400;
    line-height: 1.71;

    @media screen and ( min-width: $tablet){
       
        width: 354px;
    }
    @media screen and ( min-width: $desctop){
        width: 270px;
    }
 }

