.clients__title {
    margin-bottom: 30px;

    @media screen and( min-width: $desctop){ margin-bottom: 50px;

    }
}

.clients__list
 {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //  width: 450px;
    gap: 30px;
    @media screen and( min-width: $tablet){
       width: 738px;
        }
    @media screen and( min-width: $desctop){
        width: 1170px;

    }
    
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: color;
    transition-duration: var(--trnz-duration);
    transition-timing-function: var(--trnz-tim-fnct);

    width: 210px;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--icons-color);

    &:hover,
    &:focus {
    color: var(--brand-color);}

    @media screen and( min-width: $tablet){
        width: 226px;}
        @media screen and( min-width: $desctop){
            width: 170px;

}

}
.clients__icon {
    fill: currentColor;
}