.section {
     padding-top: 94px;
     padding-bottom: 94px;

    
    @media screen and (min-width: $mobile){
        padding: 60px 0;
    }

    @media screen and (min-width: $tablet){ padding: 60px 0;

    }
    @media screen and (min-width: $desctop){padding: 94px 0;

    }


}